<%# Votre code de mise en page et de navigation ici. %>

<table class="line-items index" data-hook="line-items">
  <colgroup>
    <col style="width: 10%;">
    <col style="width: 35%;"> <!-- Régler la largeur pour s'adapter aux nouvelles colonnes -->
    <col style="width: 10%;"> <!-- Nouvelle colonne pour le créneau horaire -->
    <col style="width: 10%;"> <!-- Nouvelle colonne pour la date -->
    <col style="width: 10%;">
    <col style="width: 10%;">
    <col style="width: 10%;">
    <col style="width: 15%;">
  </colgroup>



  <thead>
  <tr>
    <th colspan="2"><%= Spree::Product.human_attribute_name(:name) %></th>
    <tr>
    <td>Créneau horaire :<%= line_item.time_slot %></td>
    <td>Date :<%= line_item.date %></td>
    </tr>
    <th><%= Spree::LineItem.human_attribute_name(:price) %></th>
    <th><%= Spree::LineItem.human_attribute_name(:quantity) %></th>
    <th><%= Spree::LineItem.human_attribute_name(:total) %></th>
    <th class="orders-actions actions" data-hook="admin_order_form_line_items_header_actions">&nbsp;</th>
  </tr>
  </thead>
</table>

<%# Votre code de pied de page ici. %>
