<!DOCTYPE html>
<html>
  <head>
    <title>Solidapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- Remplacez 'favicon.ico' par 'favicon.png' -->
    <link rel="shortcut icon" type="image/png" href="<%= asset_path 'favicon.png' %>">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
